{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'title' %}Novo Serviço{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}

    <br>
    <br>
    <h1 class="text-center">Novo Serviço</h1>

    <div class="container">
        <a href="{% url 'listar_servico'%}"><button class="btn btn-danger">Cancelar</button></a>
        <hr>
        <form action="{% url 'novo_servico' %}", method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
        </form>
    </div>

{% endblock %}
