{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
    <script src="{% static 'servicos/js/servico.js' %}"></script>
    <script src="{% static 'servicos/js/servico2.js' %}"></script>
{% endblock %}


{% block 'dashboard' %}
    <br>
    <br>
    <div class="container">
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>
        <a class="btn btn-info" href="{% url 'gerar_os' servico.identificador %}">GERAR OS</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Serviço adicional
        </button>
        <br>
        <br>
        <h3>{{servico.titulo}}<h3>
        <h5>Cliente: {{servico.cliente}}</h5>
        <h5>Preço total: R$ {{servico.preco_total}}</h5>
        <h5>Status: {% if servico.finalizado %}<span class="badge badge-success">Finalizado</span>{% else %}<span class="badge badge-warning">Em andamento</span>{% endif %}</h5>
        <h5>Data de Inicio: {{ servico.data_inicio }}</h5>
        <h5>Data de Entrega: {{ servico.data_entrega }}</h5>
        <hr>
        <br>
        <h4>Alterar Status do Servico: </h4>
        <select class="form-control" id="status" onchange="alterarStatus('{{ servico.identificador }}')">
            <option value="0" {% if not servico.finalizado %}selected{% endif %}>Em andamento</option>
            <option value="1" {% if servico.finalizado %}selected{% endif %}>Finalizado</option>
        </select>
        <br>
        <br>
        <h3>Serviços adicionais</h3>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
                {% for servico_adicional in servicos_adicionais %}
                    <tr>
                        <td>{{ servico_adicional.titulo }}</td>
                        <td>{{ servico_adicional.descricao }}</td>
                        <td>R$ {{ servico_adicional.preco }}</td>
                        <td><button class="btn btn-danger "onclick="apagarServicoAdicional({{ servico_adicional.id }})">Apagar Serviço</button></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>




    </div>



{% endblock %}


{% block 'body' %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Serviço adicional</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'servico_adicional' %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="identificador_servico" value={{servico.identificador}}>

                    <label>Digite o título:</label>
                    <input type="text" placeholder="titulo" class="form-control" name="titulo">

                    <label>Digite o descrição:</label>
                    <input type="text" placeholder="titulo" class="form-control" name="descricao">


                    <label>Digite o preço:</label>
                    <input type="number" placeholder="titulo" class="form-control" name="preco">
                    <br>
                    <input type="submit" class="btn btn-success" value="Salvar">
                </form>
            </div>
            </div>
        </div>
    </div>


{% endblock %}
