{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'title' %}Login{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}

    <br>
    <br>
    <h1 class="text-center">Entrar</h1>

    <div class="container">
        <a href="{% url 'registro'%}"><button class="btn btn-info">Cadastre-se</button></a>
        <br>
        <hr>
        {% if message %}
            <p class="alert alert-info">{{ message }}</p>
        {% endif %}
        <hr>
        <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
        <br>

        </form>
    </div>

{% endblock %}
